
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="start_style.css" href="{{ url_for('static', filename='login_join/start_style.css') }}">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="{{url_for('static', filename='images/cloud.png')}}" width="60">
            <div id="needline"></div>
            <div class="loginbox">접속</div>
        </div>

        <div class="box1" style="position: absolute; top: 95px;">
            <h1 class="logo-login">Weather Catcher</h1>
            <div class="box2">
                <!-- <h6 id="text">Only for Kr</h6> -->
            </div>
        </div>
    </div>
</body>

<script src="./static/script/start.js"></script>
</body>

</html>